<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Service.CommonName" value="Broobu Node Engine" />
    <add key="Service.Register" value="false" />
    <add key="Disco.Endpoint" value="http://localhost:1900/node" />
    <add key="Cloud.Probe" value="http://localhost:1800/cloud/probe" />
    <add key="Cloud.Announce" value="http://localhost:1800/cloud/announce" />
    <add key="Composition.Logging" value="false" />
    <add key="Binding.SendTimeout" value="00:10:00" />
    <add key="Service.AutoRegisterDomain" value="false" />
    <add key="Service.EnableMex" value="true" />
    <add key="CouchDB.Protocol" value="http" />
    <add key="CouchDB.Host" value="localhost" />
    <add key="CouchDB.Port" value="5984" />
    <add key="CouchDb.User" value="wulka" />
    <add key="CouchDb.Password" value="K1llB1ll2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--Start ServiceModel Configuration-->
  <system.serviceModel>
    <standardEndpoints>
      <dynamicEndpoint>
        <standardEndpoint name="epMirror" />
      </dynamicEndpoint>
    </standardEndpoints>
    <bindings>
      <wsHttpBinding>
        <binding name="bndHttp" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="bhNodeEngine" name="Broobu.Disco.Service.DiscoSentry">
        <endpoint address="" binding="basicHttpBinding" contract="Wulka.Interfaces.IDisco" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1900/node" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="bhNodeEngine">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <!--End ServiceModel Configuration-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>